<template name="header">
    <!-- Header -->
    <!-- END Header -->

    <!-- Header -->
    <header id="header-navbar" class="content-mini content-mini-full">
        <div class="content-boxed">
            <!-- Header Navigation Right -->
            <ul class="nav-header pull-right">
                {{#if currentUser}}
                <li>
                    <div class="btn-group">
                        <button class="btn btn-link text-white btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                            <img src="img/avatars/avatar10.jpg" alt="Avatar">
                            <span class="push-10-r">{{currentUser.profile.firstName}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">Profile</li>
                            <li>
                                <a tabindex="-1" href="base_pages_inbox.html">
                                    <i class="si si-envelope-open pull-right"></i>
                                    <span class="badge badge-primary pull-right">3</span>Inbox
                                </a>
                            </li>
                            <li>
                                <a tabindex="-1" href="base_pages_profile.html">
                                    <i class="si si-user pull-right"></i>
                                    <span class="badge badge-success pull-right">1</span>Profile
                                </a>
                            </li>
                            <li>
                                <a tabindex="-1" href="javascript:void(0)">
                                    <i class="si si-settings pull-right"></i>Settings
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Actions</li>
                            <li>
                                <a tabindex="-1" href="base_pages_lock.html">
                                    <i class="si si-lock pull-right"></i>Lock Account
                                </a>
                                </li>
                            <li id="logout">
                                <a tabindex="-1">
                                    <i class="si si-logout pull-right"></i>Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {{/if}}

                <li class="hidden-md hidden-lg">
                    <!-- Toggle class helper (for main header navigation below in small screens), functionality initialized in App() -> uiToggleClass() -->
                    <button class="btn btn-link text-white pull-right" data-toggle="class-toggle" data-target=".js-nav-main-header" data-class="nav-main-header-o" type="button">
                        <i class="fa fa-navicon"></i>
                    </button>
                </li>
                <li>
                    <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                    <button class="btn btn-default" data-toggle="layout" data-action="side_overlay_toggle" type="button">
                        <i class="fa fa-tasks"></i>
                    </button>
                </li>
            </ul>
            <!-- END Header Navigation Right -->

            <!-- Main Header Navigation -->
            <ul class="js-nav-main-header nav-main-header pull-right">
                <li class="text-right hidden-md hidden-lg">
                    <!-- Toggle class helper (for main header navigation in small screens), functionality initialized in App() -> uiToggleClass() -->
                    <button class="btn btn-link text-white" data-toggle="class-toggle" data-target=".js-nav-main-header" data-class="nav-main-header-o" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                </li>
                <!--<li>-->
                    <!--<a class="active" href="/">Home</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="nav-submenu" href="javascript:void(0)">Pages</a>-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<a href="frontend_team.html">Team</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="frontend_support.html">Support</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="frontend_search.html">Search</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="frontend_about.html">About</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="frontend_login.html">Login</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="frontend_signup.html">Sign Up</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="frontend_features.html">Features</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="frontend_pricing.html">Pricing</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="frontend_contact.html">Contact</a>-->
                <!--</li>-->
            </ul>
            <!-- END Main Header Navigation -->

            <!-- Header Navigation Left -->
            <ul class="nav-header pull-left">
                <li class="header-content">
                    <a class="h5" href="/">
                        <!--<i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 text-white">ne</span>-->
                        <img src="img/logo_text.png" height="29">
                    </a>
                </li>
            </ul>
            <!-- END Header Navigation Left -->
        </div>
    </header>
    <!-- END Header -->
</template>
