<template name="defaultLayout">
    <div id="page-container" class="sidebar-l side-scroll header-navbar-fixed">
        {{>sideOverlay}}
        {{>sidebar}}
        {{>header}}

        <!-- Main Container -->
        <main id="main-container">
            {{> Template.dynamic template=main}}
        </main>
        <!-- END Main Container -->
    </div>
</template>

<template name="plainLayout">
    {{> Template.dynamic template=main}}

    <!-- Footer -->
    <div class="pulldown push-30-t text-center animated fadeInUp">
        <small class="text-muted"><span class="js-year-copy"></span> &copy; OneUI 2.0</small>
    </div>
    <!-- END Footer -->

</template>