<template name="blank">
    <!-- Page Header -->
    <div class="content bg-gray-lighter">
        <div class="row items-push">
            <div class="col-sm-7">
                <h1 class="page-heading">
                    Homepage<small>&nbsp; This is a temporary page</small>
                </h1>
            </div>
            <div class="col-sm-5 text-right hidden-xs">
                <ol class="breadcrumb push-10-t">
                    <li>Mentuit</li>
                    <li><a class="link-effect" href="">Homepage</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- END Page Header -->

    <!-- Page Content -->
    <div class="content">
        <h2 class="content-heading">Check the sidebar on the left for all the pages</h2>
        <p>...</p>
    </div>
    <!-- END Page Content -->
</template>
