<template name="profile">
    <div class="bg-primary-dark">
        <section class="content content-full content-boxed">
            <!--&lt;!&ndash; Section Content &ndash;&gt;-->
            <!--<div class="push-100-t push-50 text-center">-->
                <!--<h1 class="h2 text-white push-10">We are passionate people.</h1>-->
                <!--<h2 class="h5 text-white-op">We are creating products that you'll love to use. Let us introduce ourselves.</h2>-->
            <!--</div>-->
            <!--&lt;!&ndash; END Section Content &ndash;&gt;-->

            <div class="push-50-t push-15 clearfix">
                <div class="push-15-r pull-left animated fadeIn">
                    <img class="img-avatar img-avatar-thumb" src="img/avatars/avatar13.jpg" alt="">
                </div>
                <h1 class="h2 text-white push-5-t animated zoomIn">Giovanni Alcantara</h1>
                <h2 class="h5 text-white-op animated zoomIn">UI Designer</h2>
            </div>
        </section>
    </div>

    <!-- About Info -->
    <div class="bg-white">
        <section class="content content-boxed">
            <!-- Section Content -->
            <div class="row items-push push-20-t nice-copy">
                <div class="col-md-8">
                    <h4 class="h3 font-w300 push-10">About me</h4>
                    <!--<h3 class="h5 font-w600 text-uppercase push-10">Who are you?</h3>-->
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                    <h4 class="h3 font-w300 push-10">What can you do for me?</h4>
                    <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                    <h4 class="h3 font-w300 push-10">What are you currently working on?</h4>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                    <h4 class="h3 font-w300 push-10">Skills</h4>
                    <h3 class="h5 font-w600 text-uppercase push-5"><i class="fa fa-check text-flat push-5-r"></i> Layout</h3>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
            <!-- END Section Content -->
        </section>
    </div>
    <!-- END About Info -->
</template>
