<template name="profile">
    <div class="bg-primary-dark">
        <section class="content content-full content-boxed">
            <!--&lt;!&ndash; Section Content &ndash;&gt;-->
            <!--<div class="push-100-t push-50 text-center">-->
                <!--<h1 class="h2 text-white push-10">We are passionate people.</h1>-->
                <!--<h2 class="h5 text-white-op">We are creating products that you'll love to use. Let us introduce ourselves.</h2>-->
            <!--</div>-->
            <!--&lt;!&ndash; END Section Content &ndash;&gt;-->

            <div class="push-50-t push-15 clearfix">
                <div class="push-15-r pull-left animated fadeIn">
                    <img class="img-avatar img-avatar-thumb" src="img/avatars/avatar13.jpg" alt="">
                </div>
                <h1 class="h2 text-white push-5-t animated zoomIn">Giovanni Alcantara</h1>
                <h2 class="h5 text-white-op animated zoomIn">UI Designer</h2>
            </div>
        </section>
    </div>

    <!-- About Info -->
    <div class="bg-white">
        <section class="content content-boxed">
            <!-- Section Content -->
            <div class="row items-push push-20-t nice-copy">
                <div class="col-md-6">
                    <h4 class="h3 font-w300 push-10">About me</h4>
                    <!--<h3 class="h5 font-w600 text-uppercase push-10">Who are you?</h3>-->
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                    <h4 class="h3 font-w300 push-10">What can you do for me?</h4>
                    <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                    <h4 class="h3 font-w300 push-10">What are you currently working on?</h4>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                    <h4 class="h3 font-w300 push-10">Skills</h4>
                    <h3 class="h5 font-w600 text-uppercase push-5"><i class="fa fa-check text-flat push-5-r"></i> Layout</h3>
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
                <div class="col-md-6">
                    <!-- Company Timeline -->
                    <div class="block block-transparent">
                        <div class="block-content">
                            <ul class="list list-timeline pull-t">
                                <li class="visibility-hidden" data-toggle="appear" data-class="animated fadeInRight">
                                    <div class="list-timeline-time">2012</div>
                                    <i class="si si-bulb list-timeline-icon bg-warning"></i>
                                    <div class="list-timeline-content">
                                        <p class="font-w600">The idea was born!</p>
                                        <p class="font-s13">Super excited!</p>
                                    </div>
                                </li>
                                <li class="visibility-hidden" data-toggle="appear" data-timeout="100" data-class="animated fadeInRight">
                                    <div class="list-timeline-time">2013</div>
                                    <i class="si si-speedometer list-timeline-icon bg-city"></i>
                                    <div class="list-timeline-content">
                                        <p class="font-w600">Start Up time!</p>
                                        <p class="font-s13">We started and wished for the best!</p>
                                    </div>
                                </li>
                                <li class="visibility-hidden" data-toggle="appear" data-timeout="200" data-class="animated fadeInRight">
                                    <div class="list-timeline-time">2014</div>
                                    <i class="si si-briefcase list-timeline-icon bg-smooth"></i>
                                    <div class="list-timeline-content">
                                        <p class="font-w600">5 products created!</p>
                                        <p class="font-s13">Amazing times!</p>
                                    </div>
                                </li>
                                <li class="visibility-hidden" data-toggle="appear" data-timeout="300" data-class="animated fadeInRight">
                                    <div class="list-timeline-time">2014</div>
                                    <i class="fa fa-user-plus list-timeline-icon bg-success"></i>
                                    <div class="list-timeline-content">
                                        <p class="font-w600">+ 2 Amazing people joined us!</p>
                                        <ul class="nav-users push-10-t push">
                                            <li>
                                                <a href="base_pages_profile.html">
                                                    <img class="img-avatar" src="assets/img/avatars/avatar4.jpg" alt="">
                                                    <i class="fa fa-circle text-success"></i> Laura Bell
                                                    <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="base_pages_profile.html">
                                                    <img class="img-avatar" src="assets/img/avatars/avatar9.jpg" alt="">
                                                    <i class="fa fa-circle text-success"></i> Adam Hall
                                                    <div class="font-w400 text-muted"><small>Web Developer</small></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="visibility-hidden" data-toggle="appear" data-timeout="400" data-class="animated fadeInRight">
                                    <div class="list-timeline-time">2015</div>
                                    <i class="si si-like list-timeline-icon bg-primary"></i>
                                    <div class="list-timeline-content">
                                        <p class="font-w600">We continue strong!</p>
                                        <p class="font-s13">With over 100 clients and 15 on going projects!</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Company Timeline -->
                </div>
            </div>
            <!-- END Section Content -->
        </section>
    </div>
    <!-- END About Info -->
</template>
