<template name="profile_temp">
    <div class="content bg-image" style="background-image: url('img/photos/photo8@2x.jpg');">
        <div class="push-50-t push-15 clearfix">
            <div class="push-15-r pull-left animated fadeIn">
                <img class="img-avatar img-avatar-thumb" src="img/avatars/avatar13.jpg" alt="">
            </div>
            <h1 class="h2 text-white push-5-t animated zoomIn">John Parker</h1>
            <h2 class="h5 text-white-op animated zoomIn">UI Designer</h2>
        </div>
    </div>
    <!-- END Page Header -->

    <!-- Stats -->
    <div class="content bg-white border-b">
        <div class="row items-push text-uppercase">
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn">Sales</div>
                <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">17980</a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn">Products</div>
                <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">27</a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn">Followers</div>
                <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">1360</a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn">739 Ratings</div>
                <div class="text-warning push-10-t animated flipInX">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <span class="text-muted">(4.9)</span>
                </div>
            </div>
        </div>
    </div>
    <!-- END Stats -->

    <!-- Page Content -->
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="h1 text-center font-w300 push-30-t push-30">About me</div>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id imperdiet lectus. Morbi lacinia at lectus at commodo. Etiam vestibulum posuere justo, sed sollicitudin quam venenatis at. Phasellus convallis eros at felis egestas maximus. Duis laoreet vitae dolor ut sagittis. Integer ex ipsum, dignissim vel varius ut, varius in leo. Nullam luctus finibus sapien, in vehicula urna porta sit amet. Quisque dignissim felis eget quam posuere, nec scelerisque nisi molestie. In cursus id tortor sit amet consequat. Nunc sit amet tortor vitae velit commodo gravida in in augue. Pellentesque volutpat laoreet neque, ut fringilla ex tincidunt sit amet. Cras semper interdum pulvinar. Vivamus molestie eleifend leo, non scelerisque nunc. Maecenas sollicitudin ligula purus, vitae posuere turpis tempus sed.
                </p>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <div class="h1 text-center font-w300 push-30-t push-30">Competences</div>
                <hr class="remove-margin">

                <div>
                    <!-- Products -->
                    <div class="block">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title"><i class="fa fa-fw fa-briefcase"></i> Products</h3>
                        </div>
                        <div class="block-content">
                            <ul class="list list-simple list-li-clearfix">
                                <li>
                                    <a class="item item-rounded pull-left push-10-r bg-info" href="javascript:void(0)">
                                        <i class="si si-rocket text-white-op"></i>
                                    </a>
                                    <h5 class="push-10-t">MyPanel</h5>
                                    <div class="font-s13">Responsive App Template</div>
                                </li>
                                <li>
                                    <a class="item item-rounded pull-left push-10-r bg-amethyst" href="javascript:void(0)">
                                        <i class="si si-calendar text-white-op"></i>
                                    </a>
                                    <h5 class="push-10-t">Project Time</h5>
                                    <div class="font-s13">Web application</div>
                                </li>
                                <li>
                                    <a class="item item-rounded pull-left push-10-r bg-danger" href="javascript:void(0)">
                                        <i class="si si-speedometer text-white-op"></i>
                                    </a>
                                    <h5 class="push-10-t">iDashboard</h5>
                                    <div class="font-s13">Bootstrap Admin Template</div>
                                </li>
                            </ul>
                            <div class="text-center push">
                                <small><a href="javascript:void(0)">View More..</a></small>
                            </div>
                        </div>
                    </div>

            </div>
                <!-- Ratings -->
                <div class="block">
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title"><i class="fa fa-fw fa-pencil"></i> Ratings</h3>
                    </div>
                    <div class="block-content">
                        <ul class="list list-simple">
                            <li>
                                <div class="push-5 clearfix">
                                    <div class="text-warning pull-right">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <a class="font-w600" href="base_pages_profile.html">Eugene Burke</a>
                                    <span class="text-muted">(5/5)</span>
                                </div>
                                <div class="font-s13">Flawless design execution! I'm really impressed with the product, it really helped me build my app so fast! Thank you!</div>
                            </li>
                            <li>
                                <div class="push-5 clearfix">
                                    <div class="text-warning pull-right">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <a class="font-w600" href="base_pages_profile.html">Jeremy Fuller</a>
                                    <span class="text-muted">(5/5)</span>
                                </div>
                                <div class="font-s13">Great value for money and awesome support! Would buy again and again! Thanks!</div>
                            </li>
                            <li>
                                <div class="push-5 clearfix">
                                    <div class="text-warning pull-right">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <a class="font-w600" href="base_pages_profile.html">Judy Alvarez</a>
                                    <span class="text-muted">(5/5)</span>
                                </div>
                                <div class="font-s13">Working great in all my devices, quality and quantity in a great package! Thank you!</div>
                            </li>
                        </ul>
                        <div class="text-center push">
                            <small><a href="javascript:void(0)">Read More..</a></small>
                        </div>
                    </div>
                </div>
                <!-- END Ratings -->

                <!-- Followers -->
                <div class="block">
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title"><i class="fa fa-fw fa-share-alt"></i> Followers</h3>
                    </div>
                    <div class="block-content">
                        <ul class="nav-users push">
                            <li>
                                <a href="base_pages_profile.html">
                                    <img class="img-avatar" src="assets/img/avatars/avatar13.jpg" alt="">
                                    <i class="fa fa-circle text-success"></i> Ryan Hall
                                    <div class="font-w400 text-muted"><small>Web Developer</small></div>
                                </a>
                            </li>
                            <li>
                                <a href="base_pages_profile.html">
                                    <img class="img-avatar" src="assets/img/avatars/avatar8.jpg" alt="">
                                    <i class="fa fa-circle text-success"></i> Julia Cole
                                    <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                </a>
                            </li>
                            <li>
                                <a href="base_pages_profile.html">
                                    <img class="img-avatar" src="assets/img/avatars/avatar7.jpg" alt="">
                                    <i class="fa fa-circle text-warning"></i> Laura Bell
                                    <div class="font-w400 text-muted"><small>Photographer</small></div>
                                </a>
                            </li>
                        </ul>
                        <div class="text-center push">
                            <small><a href="javascript:void(0)">Load More..</a></small>
                        </div>
                    </div>
                </div>
                <!-- END Followers -->
            </div>
        </div>
</template>
